<div class="w-96">
  <h1 mat-dialog-title>Create New Teacher</h1>
  <form [formGroup]="createNewTeacherForm" (submit)="submit()">
    <mat-dialog-content class="mat-typography">
      <div class="flex flex-col">
        <mat-form-field appearance="outline">
          <mat-label>Teacher Name</mat-label>
          <input formControlName="name" matInput type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Teacher Birthday</mat-label>
          <input formControlName="dateOfBirth" matInput type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Teacher Gender</mat-label>
          <input formControlName="gender" matInput type="numeric">
        </mat-form-field>

<!--        <mat-form-field appearance="outline">-->
<!--          <mat-label>Teacher Department</mat-label>-->
<!--          <mat-select formControlName="departmentId">-->
<!--            <mat-option >-->

<!--            </mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline">-->
<!--          <mat-label>Teacher Course</mat-label>-->
<!--          <mat-select formControlName="courseIds" multiple>-->
<!--            <mat-option>-->

<!--            </mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->

      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close="true">Cancel</button>
      <button mat-button [mat-dialog-close]="true" type="submit">Create</button>
    </mat-dialog-actions>
  </form>

</div>

