<div class="w-96">
  <h1 mat-dialog-title>Update Specialization</h1>
  <form [formGroup]="updateSpecializationForm" (submit)="submit()">
    <mat-dialog-content class="mat-typography">
      <div class="flex flex-col">
        <mat-form-field appearance="outline">
          <mat-label>Specialization Name</mat-label>
          <input formControlName="name" matInput type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Specialization Description</mat-label>
          <input formControlName="description" matInput type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Student</mat-label>
          <mat-select formControlName="studentIds" multiple>
            <mat-option *ngFor="let student of students" [value]="student.id">
              {{student.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close="true">Cancel</button>
      <button mat-button [mat-dialog-close]="true" type="submit">Update</button>
    </mat-dialog-actions>
  </form>

</div>


