<div class="w-96">
  <h1 mat-dialog-title>Create New School</h1>
  <form [formGroup]="createNewSchoolForm" (submit)="submit()">

    <mat-dialog-content class="mat-typography">
      <div class="flex flex-col">
        <mat-form-field appearance="outline">
          <mat-label>School Name</mat-label>
          <input formControlName="name" type="text" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>School Description</mat-label>
          <input formControlName="description" type="text" matInput>
        </mat-form-field>

<!--        <mat-form-field appearance="outline">-->
<!--          <mat-label>Departments</mat-label>-->
<!--          <mat-select formControlName="departmentIds" multiple>-->
<!--            <mat-option >-->

<!--            </mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close="true">Cancel</button>
      <button mat-button [mat-dialog-close]="true" type="submit">Create</button>
    </mat-dialog-actions>
  </form>
</div>

